@import (reference) '../../../style/variables';

.MealEditModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: fade(black, 30%);
    display: flex;
    align-items: center;
    justify-content: center;

    .MealEditContainer {
        position: relative;
        width: 95%;
        max-width: 500px;
        max-height: 95%;
        background-color: white;
        border-radius: 3px;
        box-shadow: 2px 2px 2px fade(black, 50%);
        overflow-x: hidden;
        overflow-y: auto;

        .CloseButton {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 1;
            width: 20px;
            height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid;
            padding: 2px;
            border-radius: 2px;
            cursor: pointer;
        }

        .MealEditWrapper {
            width: 200%;
            display: flex;
            transition: transform 0.3s ease;

            &.ItemEditing {
                transform: translateX(-50%);
            }

            .MealItemForm {
                width: 50%;
                padding: 10px;

                .MealHeader {
                    display: flex;
                    margin-bottom: 10px;
                }

                .MealItemList {
                    margin-bottom: 10px;

                    .MealItem {
                        display: flex;
                        align-items: center;
                        padding: 5px;

                        &:nth-child(odd) {
                            background-color: lighten(@secondary-color, 65%);
                        }

                        &:nth-child(even) {
                            background-color: lighten(@secondary-color, 72%);
                        }

                        &.AddItemButton {
                            margin-top: 10px;
                            cursor: pointer;

                            span {
                                font-weight: 700;
                                text-align: center;
                            }
                        }

                        span {
                            flex-grow: 1;
                        }

                        .BorderedIcon {
                            width: 19px;
                            height: 19px;
                            border: 1px solid;
                            border-radius: 2px;
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }
                    }
                }
            }

            .MealItemEditor {
                width: 50%;
                padding: 10px;
            }
        }
    }
}