@import (reference) './variables';

.Scrollable {
    max-height: 100%;
    overflow: auto;
}

.CommonPage {
    padding: 10px;
}

.Box {
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: lighten(@secondary-color, 65%);
    overflow: hidden;
}

.BlockButton {
    width: 100%;
    padding: 10px;
}

.BorderedIcon {
    width: 19px;
    height: 19px;
    border: 1px solid;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.RedIcon {
        color: @warning-color;
        background-color: lighten(@warning-color, 50%);
        border-color: darken(@warning-color, 10%);
    }
}

.FloatingLabelContainer {
    position: relative;
    margin-top: 6px;
    margin-bottom: 10px;
    display: flex;

    input {
        position: relative;
        z-index: 1;
        width: 100%;
        background: none;
        flex-grow: 1;

        &::placeholder {
            color: transparent;
        }

        &:focus,
        &:not(:placeholder-shown) {
            & + label {
                transform: translate(-6px, -100%) scale(0.9);
            }
        }
    }

    select {
        width: 100%;
        flex-grow: 1;

        & + label {
            transform: translate(-6px, -100%) scale(0.9);
        }
    }

    label {
        position: absolute;
        left: 7px;
        bottom: 9px;
        color: fade(@base-font-color, 75%);
        transition: all 0.3s ease;
        user-select: none;
    }
}

.BtnPrimary {
    background-color: fade(@primary-color, 65%);
    font-weight: 500;
}

.ActionContainer {
    display: flex;

    button {
        flex-grow: 1;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }
    }
}

.Wd100 { width: 100%; }
.Wd75 { width: 75%; }
.Wd50 { width: 50%; }
.Wd25 { width: 25%; }

.Mb01 { margin-bottom: 0.5rem; }
.Mb02 { margin-bottom: 1rem; }
.Mb03 { margin-bottom: 1.5rem; }
.Mb04 { margin-bottom: 2rem; }

.Mt01 { margin-top: 0.5rem; }
.Mt02 { margin-top: 1rem; }
.Mt03 { margin-top: 1.5rem; }
.Mt04 { margin-top: 2rem; }

.Pad01 { padding: 0.5rem; }
.Pad02 { padding: 1rem; }

.DFlex { display: flex; }
.Fgrow { flex-grow: 1 }