@import (reference) './variables';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: @base-font-color;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;

    #app {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 7px 10px;
    border: 1px solid @secondary-color;
    background-color: lighten(@secondary-color, 70%);
    font-size: 1.2rem;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

input[type=checkbox] {
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0 5px 1px 0;
    background-color: white;
    border: 1px solid @base-font-color;
    border-radius: 2px;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    &:checked {

        &:after {
            position: absolute;
            content: '';
            width: 9px;
            height: 6px;
            top: 2px;
            left: 2px;
            border: 3px solid @primary-color;
            border-top: none;
            border-right: none;
            background: transparent;
            transform: rotate(-45deg);
        }
    }
}

input {
    height: 30px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-bottom: 1px solid @base-font-color;
    padding: 5px;
    outline: none;
    margin-right: 5px;
}

select {
    height: 30px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-bottom: 1px solid @base-font-color;
    border-radius: 0;
    padding: 5px;
    outline: none;
    margin-right: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNDQ0JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=");
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: transparent;


    &:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: red;
    }
}

.ReactSelect {
    .ReactSelect__control {
        min-height: 30px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid;
        border-radius: 0;
        outline: none !important;
        box-shadow: none;
        padding: 5px 5px 0;

        &:hover, &:focus {
            border-color: inherit;
        }

        .ReactSelect__value-container {
            padding: 0;

            .ReactSelect__input {
                padding: 0;

                input {
                    height: auto;
                }
            }
        }

        .ReactSelect__indicators {
            .ReactSelect__indicator-separator {
                display: none;
            }

            .ReactSelect__indicator {
                color: inherit;
                padding: 0;
            }
        }
    }
    .ReactSelect__menu {
        z-index: 100;
    }
}